<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="book" class="edu.miu.cs544.temesgen.service.Book">

        <constructor-arg index="0" value="The Matrix"/>
        <constructor-arg index="1" value="James Att"/>

        <property name="resourceLoader" value="file:data.txt">
        </property>
    </bean>
</beans>